.content{
    width:70%;
    margin: 60px auto;
    font-size:20px;
}
img{
    margin: 10px auto;
}
.smart-me-table {
    width: 100%;
    border-collapse: collapse;
}

.smart-me-table th,
.smart-me-table td {
    border: 1px solid #000;
    padding: 12px;
}
.smart-me-table {
    margin-bottom: 40px;
}