body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.3em;
    color: #fff;
    height: 100vh;
    text-align: center;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.input-container {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;
}

#mediaSection {
    flex-grow: 0;
}

h1 {
    margin: 0 auto;
    font-size: 2.2em;
    text-align: center;
    color: #fff;
    font-size: 5em;
}

#location-input {
    width: 100%;
    padding: 0.5em;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    text-align: center;
    font-size: .8em;
}

#location-input:focus {
    outline: none;
}

#location-input::placeholder {
    color: #b5b5b5;
}