/* Dit is het bestand maar dan in het algemeen */
body{
margin-left: 50px;
margin-right: 50px;
background-color:rgb(255, 255, 255);
}

/* Dit is voor de blauwe box*/
.box-2{
background-color: #0259a1;
color: rgb(255, 255, 255);

	border:8px double rgb(255, 255, 255);
	padding:20px;
	margin-top:10px;
}

.fotocarousel{
width: 60%;
margin: auto;
border: 8px solid #0259a1

}
