/* Dit is het bestand maar dan in het algemeen */
body{
margin-left: 50px;
margin-right: 50px;
background-color:rgb(255, 255, 255);
}

/* Dit is voor de blauwe box*/
.box-2{
background-color: #0259a1;
color: rgb(255, 255, 255);

	border:8px double rgb(255, 255, 255);
	padding:20px;
	margin-top:10px;
}

.fotocarousel{
width: 60%;
margin: auto;
border: 8px solid #0259a1

}

/* Inleiding*/
.box-1{
	background-color: #ffffff;
	color: rgb(0, 0, 0);
	
		border:8px double #0259a1;
		padding:5px;
		margin:0px;
		margin-right:38%;
}

/* Foto bij inleiding*/
.container{
display: flex;
            justify-content: space-between;
            align-items: center;
}
.container img {
				max-width: 300px; /* Pas de grootte van de afbeelding aan */
				height: auto;
				margin-top: 40px;
			}
.text {
				flex-grow: 1;
				margin-right: 80px; /* Afstand tussen de tekst en de afbeelding */
				border:8px double #0259a1;
				padding:20px;
				margin-top: 40px;
				
}

/* Opmaak van de BTN-Group zit in de tekst verwerkt*