body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;
    color: white;
}

#page-title {
    position: absolute;
    width: 100%;
    top: 12%;
    left: 50%;
    transform: translate(-50%);
}

h1 {
    font-size: 4vmin;
    text-align: center;
}

header {
    position: absolute;
    bottom: 0;
    right: 0;
}

header>nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header>nav>ul {
    list-style: none;
    display: flex;
    gap: 2vmin;
    padding: 0;
    margin-bottom: 16px;
    margin-right: 16px;
}

nav>ul>li {
    display: block;
}

nav>ul>li>a {
    text-decoration: none;
    color: white;
    font-size: 2vmin;
}

nav>ul>li>a:hover {
    color: #ff0000;
}

#image-track>.image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% 50%;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
}

.card {
    border-radius: 10px;
    position: relative;
    width: 40vmin;
    height: 56vmin;
    background-color: rgb(30, 29, 29);
    cursor: pointer;
}

.cardimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 50%;
    border-radius: 10px;
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}

.card:hover::after,
.card:hover::before,
.scrollable-modal::after,
.scrollable-modale::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    border-radius: 10px;
    animation: 3s spin linear infinite;
}

.card:hover::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }

    to {
        --angle: 360deg;
    }
}

.scrollable-modal {
    height: 80vh;
    width: 80vw;
    border-radius: 30px;
    padding: 4px;
    position: relative;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
    animation: 3s spin linear infinite;
    z-index: -1;
    max-width: 1200px;
}

.modal-content {
    --content-padding: 16px;
    background-color: black;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    padding: var(--content-padding);
    color: white;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}

.modal-scroll-content {
    --content-padding: 24px;
    height: calc(100% - 82px);
    overflow-y: auto;
    padding-left: var(--content-padding);
    padding-right: var(--content-padding);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-header h1 {
    margin: 0;
}

.close-btn {
    font-size: 12px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    color: white;

}

.scrollable-modal,
.modal-content {
    overflow-x: hidden;
    overflow-y: hidden;
}

dialog:focus {
    outline: none;
}

.title-overlay {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.title-overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    border-radius: 10px;
}

.card:hover .title-overlay::after,
.card:hover .card-title {
    opacity: 1;
}

.card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
    z-index: 5;
    font-size: 2.5rem;
    font-weight: 700;
}